graft *
prune .hg
prune .hgignore
prune .ropeproject
prune .git
prune .gitignore
include LICENSE
include README.md

recursive-include dar_command/dependencies *
recursive-include dar_command/fixtures *